<html>

<head>
    <meta charaset="utf-8" />
    <link rel="stylesheet" href="../assets/headband.css">
    <title> Nom du site</title>
</head>

<header>
<ul class="nav">
    <li id="home">
        <a href="#"><img src="settings.png" /></a>
    <li id="login">
        <a href="#">Login/Connection</a>
        <ul class="subnav">
            <li><a href="#">Login</a></li>
            <li><a href="#">Connection</a></li>

        </ul>
    </li>
</ul>

<script src="prefixfree-1.0.7.js" type="text/javascript"></script>

</header>

</html>