<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/homePage.css" type="text/css">

    <title>Document</title>
</head>
<body>
<div class="card1">
  <img src="https://images.pexels.com/photos/51312/kiwi-fruit-vitamins-healthy-eating-51312.jpeg?cs=srgb&dl=pexels-pixabay-51312.jpg&fm=jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>prix</b></h4> 
    <p>nom du vendeur</p> 
  </div>
</div>
</body>
</html>

