h2{
    position: absolute;
    left: 10px;
    top: 4rem;
}

.finalCard{
    display: row;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 8px;
    background-color: #FFA653;
    height: 100px;
    width: 250px;
    align-items: center;
    align-content: center;;
    position: absolute;
    right: 90px;
    top: 20rem;
}

.finalCard:hover {
    box-shadow: 0 8px 40px 0 #FFA653;
  }

#purchaseButton{
    background-color: lightgrey;
    border-radius: 6px; 
    height: 40px;
    width: 100px;
    display: flex;
}

body{
    background-color: lightgray;
}

