@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
    margin: 0;
    padding: 0;
}

.nav {
    background: #48C5D7;
    height: 60px;
    display: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.nav li {
    float: left;
    list-style-type: none;
    position: relative;
}

.nav li a {
    font-size: 16px;
    color: white;
    display: block;
    line-height: 60px;
    padding: 0 26px;
    text-decoration: none;
    border-left: 1px solid #48C5D7;
    font-family: Montserrat, sans-serif;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.nav li a:hover {
    background-color: #48C5D7;
}

#home a:hover{
    background-color: #FFA653;
}



#shopping a:hover{
    background-color: #FFA653;
}


#login {
    left: 69%;
}



a {
    background-position: 85% center;
    background-repeat: no-repeat;
    padding-right: 42px;
}

.subnav {
    visibility: hidden;
    position: absolute;
    top: 110%;
    right: 0;
    width: 200px;
    height: auto;
    opacity: 0;
    transition: all 0.1s;
    background: #FFA653;
}

.subnav li {
    float: none;
}

.subnav li a {
    border-bottom: 1px solid #FFA653;
}

#login:hover .subnav {
    visibility: visible;
    top: 100%;
    opacity: 1;
}

:root {
    --color-1: #9BE3DE;
    --color-2: #BEEBE9;
    --color-3: #fff9f976;
    --color-4: #FFE3ED;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-3);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.contentPopUp {
    width: 22rem;
    height: 35rem;
    background-color: var(--color-2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#popupdiv {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.backgroundPopUp {
    width: 100%;
    height: 100vh;
    background-color: rgba(15, 15, 15, 0.1);
    position: absolute;
    top: 0;
    left: 0;
}

.buttonInPopUp {
    width: 80%;
    height: 3rem;
    outline: none;
    border: none;
    margin-top: 1rem;
    border-radius: 15px;
    background-color: var(--color-1);
    position: relative;
    box-shadow: #9BE3DE 0px 0px 10px 0px;
    box-shadow: inset 0px 0px 10px 0px #a5efea;
    transition: all 0.4s ease-in-out;
}

.buttonInPopUp:hover {
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), inset 0px 0px 10px 0px #a5efea;
    transition: all 0.4s ease-in-out;
}

.content2 {
    width: 30rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    padding: 1em;
}

.buttonForPopUp {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-color: 9BE3DE;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    outline: none;
    border: none;
    transition: all 0.4s ease-in-out;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(101, 101, 101);
}

.buttonForPopUp:hover {
    transform: translate(-7px, -7px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease-in-out;
}

